.purp {
    position: relative;
    width: 100%;
    height: 105px;
    left: 375px;
    font-size: 300%;
    font-weight: bold;
    color: #5554A4;
    font-family: Righteous;
  }

  .rectangle {
    position: relative;
    width: 1058px;
    height: 1013px;
    left: 315px;
    top: 61px;
  
    background: #EDE4D5;
    border-radius: 24px;
  }

  .image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }

  .orange {
    position: relative;
    text-align: center;
    width: 33.33333%;
    font-size: 250%;
    font-weight: bold;
    color: #F78628;
    font-family: Righteous;
  }
/* another purple style but with the text centered */
  .purple { 
    position: relative;
    width: 100%;
    height: 105px;
    text-align: center;
    font-size: 300%;
    font-weight: bold;
    color: #5554A4;
    font-family: Righteous;
  }